* {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--third);
}

 /* color shortcuts */
:root {
    --first: rgba(68, 88, 119, 1);
    --second: rgba(146, 204, 206, 1);
    --third: rgba(49,52, 61, 1);
}
/* following adds style to the body */
body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, Sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

h1 h2 h3 {

    margin: 0;

}

p {
    margin: 0;
    padding: 10px;
}
/*style elements related to the header*/
 header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--third);
    box-shadow: 0 5px 35px rgba(114, 162, 163, 0.4);
  }

  header h1 {
    color: var(--third);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 450px;
    background-color: var(--second);
    padding: 5px 1% 5px 6%;
    margin: 0;
}

/* style elements related to the nav semantic element */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    color: var(--second);
    background-image: linear-gradient(270deg, var(--second) 0%, var(--second) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}
/* background color changes when hovered */

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
  }
  
main {
    margin-top: 20px;
    margin-bottom: 45px;
  }
/* the following styles pertain to the hero-banner class element */
.hero-banner {
    background-image: url("/assets/images/digital-art-numbers-binary-cyberspace-wallpaper-preview.jpg"), linear-gradient(180deg,var(--second)0%, var(--first)100%);
    background-color: var(--first);
    height: 285px;
    position: relative;
    background-position: center;
    background-blend-mode: normal;
    min-height: 30vh;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero-banner div {
    flex: 0 0 50%;
}

.hero-banner img {
    position: absolute;
    right: 110px;
    top: 45px;
    height: 185px;
    border-radius: 60px;
}

.hero-banner h2 {
   color: var(--third);
   margin:0;
   padding: 5px 10px;
   font-size: 2.3rem;
   line-height: 1.3;
   display: inline;
   opacity: .75;
   font-style: italic;
}
.work-section {
    height: 53vw;
    margin:0;
    
}
.page-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/* applies to the flex boxes in the middle of the page */
.grids {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 3px solid var(--second);
    background-color: var(--first);
    color: var(--third);
    min-height: 350px;
    max-height: 350px;
    min-width: 620px;
    flex-basis: 5px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: .5em ;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 100%;
    transition: all 0.3s;
    font-size: 0.9rem;
    opacity: .8;

}


.flex-item:hover {
    opacity:1;
}

.about-me {
    margin-bottom: 20px;
    height: 5vw;
}

/* first flex box portfolio item */

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 80%;
}

.flex-item:hover {
    background-color: 0 0 0 0.5;
}


.flex-item div {background-color: var(--second);
                padding: 5px 5px;
                opacity: .7;
}

.flex-item h3 {
    font-size: 1.2rem;
}
/*styles pertaining to the h3 tags in the flexboxes */
h3 { 
    opacity:.75;
    position: relative;
    bottom: 2px;
    width: min-content
    height: 15px;
    color: var(--third);
    background-color: var(--second);
    padding: 10px;
    font-size: 15px;
    align-items: center;
    text-align: center;
    line-height: 10%;
    text-align: left;
}

h3 span {
    font-size: 10px;
    line-height: 3;
}

.refractor {
    background-image: url("/assets/images/code-refractor.png");
}
   
.css {
    
    background-image: url("/assets/images/css-cheatsheet.png");
    
}
 
.password {
    background-image: url(/assets/images/password-generator.jpg);
   
}

.github {
    
    background-image: url("/assets/images/1*JLYlSLSK8-AZo8gt9UdYqA.jpeg");
    
}

.google {
    background-image: url("/assets/images/google.JPG");
    
}


.page-section {
    margin:15px 0;
    padding: 5px 0;
    display:flex;
    flex-direction:column
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section h2 {
    flex: 0 0 5%;
    text-align: right;
    padding-right: 15px;
    border-right: 2px solid var(--first);
    font-size: 2vw;
    line-height: 1.2;
}

.page-section div {
    flex: 0 0 78%;
}

.page-section p {
    margin-bottom: 18px;
}

.flex-item div:hover {
    opacity: 1;
}


.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}
.contact address a {
    color: var(--third);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    background-image: linear-gradient(270deg, var(--primary) 0% var(--first)100%;
    background-size: 100% 02em;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
   
    
}

.contact address a:hover {
    background-size: 100% 100%;
    color: var(--tertiary)
}
@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }
